# api id and api hash (my.telegram.org)
# required
API_ID='14274520'
API_HASH='f31ce4f6d887e855399a4aea3c29b968'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQAG3qyxWT0I2L1GmD7j39zY14gDuwds_KXJ7uncVwlTSl6aDO3pxAAAHoQv9me28pDdZOoE8H22ln9ZHg8b3ph66fNCmoIutcII33G8zB8JxS-Ire002O0EfqWkpP_VGVBS2ISDkXlihjBaCr0Yqzxug56lEseHsz8AGw6AmS6gluKI4mLKLsMd48MzlSFDZxdMm2DNNG8fnwp3tEempYY0KhegesHy5JQ1mJJt06Lajnc-_psxOaiHiWgNbKN5KjnGa6JAqAQoptOp2V-tVxi6eBjQ7dl7Ig6tOuk-3HVA6o20_q4ZqGStt48-riKQjHqgptz6L6f5OdeAkEuSnxZjaAvH0QA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='5203896639:AAEs-UnErsS2BdHowABleUPz_HatCJzwDHo'

# sudo user ids (separate with space)
# optional
SUDOERS='1989750989'

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
